Options +FollowSymLinks
RewriteEngine On

ErrorDocument 404 https://phpkaynak.com.tr/404

Options -Indexes
RewriteRule ^samplesuccess/$ pages.php?sayfa=orneksuccess [L,QSA]
RewriteRule ^output/xml/(.*)/$ xml_output.php?sayfa=output_xml&key=$1 [L,QSA]
RewriteRule ^siparis/havale-eft/$ pages.php?sayfa=havale_eft_siparis [L,QSA]
RewriteRule ^siparis/kapida-odeme/$ pages.php?sayfa=kapida_odeme_siparis [L,QSA]
RewriteRule ^siparis/kredi-karti/$ pages.php?sayfa=kart_odeme_siparis_basarili [L,QSA]
RewriteRule ^siparis/ucretsiz-siparis/$ pages.php?sayfa=ucretsiz_siparis [L,QSA]
RewriteRule ^paket/(.*)/$ pages.php?sayfa=paket_kategori&seo_url=$1 [L,QSA]
RewriteRule ^maintenance/(.*)$ maintenance.php [NC,L]
RewriteRule ^logout/$ pages.php?sayfa=logout [NC,L]
RewriteRule ^marka-listesi/$ pages.php?sayfa=marka_listesi [L,QSA]
RewriteRule ^karsilastirmalar/$ pages.php?sayfa=urun_compare [L,QSA]
RewriteRule ^arama/$ pages.php?sayfa=urun_ara [L,QSA]
RewriteRule ^marka/(.*)/$ pages.php?sayfa=urun_markalari&seo_url=$1 [L,QSA]
RewriteRule ^siparis-takip/$ pages.php?sayfa=siparistakip [L,QSA]
RewriteRule ^odeme-bildirimi/$ pages.php?sayfa=odemebildirimi [L,QSA]
RewriteRule ^hesap-numaralarimiz/(.*)/$ pages.php?sayfa=hesapnumaralari&page=$1 [L,QSA]
RewriteRule ^hesap-numaralarimiz/$ pages.php?sayfa=hesapnumaralari [L,QSA]
RewriteRule ^hesabim/tek-urun-siparisleri/$ pages.php?sayfa=hesap_tek_urun [L,QSA]
RewriteRule ^hesabim/teklifler/$ pages.php?sayfa=hesap_teklifler [L,QSA]
RewriteRule ^hesabim/iptal-talepleri/$ pages.php?sayfa=hesap_iptaller [L,QSA]
RewriteRule ^hesabim/iade-talebi/(.*)/$ pages.php?sayfa=hesap_iade_detay&talepNO=$1 [L,QSA]
RewriteRule ^hesabim/iade-talepleri/$ pages.php?sayfa=hesap_iadeler [L,QSA]
RewriteRule ^hesabim/iptal-iade-talepleri/$ pages.php?sayfa=hesap_iptal_iade [L,QSA]
RewriteRule ^hesabim/siparis-detay/(.*)/$ pages.php?sayfa=hesap_siparisler_detay&siparisID=$1 [L,QSA]
RewriteRule ^hesabim/adres-duzenle/(.*)/$ pages.php?sayfa=hesap_adresler_duzenle&adresno=$1 [L,QSA]
RewriteRule ^hesabim/yeni-adres-ekle/$ pages.php?sayfa=hesap_adresler_ekle [L,QSA]
RewriteRule ^hesabim/adresler/$ pages.php?sayfa=hesap_adresler [L,QSA]
RewriteRule ^hesabim/destek-detay/(.*)/$ pages.php?sayfa=hesap_destek_detay&destekno=$1 [L,QSA]
RewriteRule ^hesabim/yeni-destek-talebi/$ pages.php?sayfa=hesap_destek_yeni [L,QSA]
RewriteRule ^hesabim/destek/$ pages.php?sayfa=hesap_destek [L,QSA]
RewriteRule ^hesabim/kuponlar/$ pages.php?sayfa=hesap_kuponlar [L,QSA]
RewriteRule ^hesabim/yorumlar/$ pages.php?sayfa=hesap_yorumlar [L,QSA]
RewriteRule ^hesabim/favoriler/(.*)/$ pages.php?sayfa=hesap_favoriler&page=$1 [L,QSA]
RewriteRule ^hesabim/favoriler/$ pages.php?sayfa=hesap_favoriler [L,QSA]
RewriteRule ^hesabim/siparisler/$ pages.php?sayfa=hesap_siparisler [L,QSA]
RewriteRule ^hesabim/ayarlar/$ pages.php?sayfa=hesapayarlari [L,QSA]
RewriteRule ^bildirim/(.*)-B(.*)$ pages.php?sayfa=bildirimdetay&bid=$2 [L,QSA]
RewriteRule ^bildirimler/$ pages.php?sayfa=bildirimler [L,QSA]
RewriteRule ^sifre-sifirla/(.*)$ pages.php?sayfa=sifremi_sifirla [L,QSA]
RewriteRule ^sifremi-unuttum/$ pages.php?sayfa=sifremiunuttum [L,QSA]
RewriteRule ^uyelik/$ pages.php?sayfa=register [L,QSA]
RewriteRule ^uye-girisi/$ pages.php?sayfa=loginpage [L,QSA]
RewriteRule ^musteri-yorumlari/(.*)/$ pages.php?sayfa=commentspage&page=$1 [L,QSA]
RewriteRule ^musteri-yorumlari/$ pages.php?sayfa=commentspage [NC,L]
RewriteRule ^video/(.*)/$ pages.php?sayfa=videodetail&vid_id=$1 [L,QSA]
RewriteRule ^video-galeri/(.*)/$ pages.php?sayfa=videos&page=$1 [L,QSA]
RewriteRule ^video-galeri/$ pages.php?sayfa=videos [L,QSA]
RewriteRule ^hizmet/(.*)/$ pages.php?sayfa=servicedetail&ser_id=$1 [L,QSA]
RewriteRule ^hizmetler/(.*)/$ pages.php?sayfa=services&page=$1 [L,QSA]
RewriteRule ^hizmetler/$ pages.php?sayfa=services [L,QSA]
RewriteRule ^galeri/(.*)/$ pages.php?sayfa=photodetail&gal_id=$1 [L,QSA]
RewriteRule ^foto-galeri/(.*)/$ pages.php?sayfa=photogallery&page=$1 [L,QSA]
RewriteRule ^foto-galeri/$ pages.php?sayfa=photogallery [L,QSA]
RewriteRule ^removecoupon(.*)$ pages.php?sayfa=removecoupon&cID=$1 [L,QSA]
RewriteRule ^odeme/$ pages.php?sayfa=kartlaodeme [L,QSA]
RewriteRule ^sepet/$ pages.php?sayfa=cart [NC,L]
RewriteRule ^teslimat/$ pages.php?sayfa=teslimat [L,QSA]
RewriteRule ^$ home-page.php [L,QSA]
RewriteRule ^sepet$ sepet/ [L,QSA]
RewriteRule ^blog/(.*)/$ pages.php?sayfa=blogdetail&blog_id=$1 [L,QSA]
RewriteRule ^bloglar/(.*)/(.*)/(.*)/$ pages.php?sayfa=blog&value=$1&content=$2&page=$3 [L,QSA]
RewriteRule ^bloglar/(.*)/(.*)/$ pages.php?sayfa=blog&value=$1&content=$2 [L,QSA]
RewriteRule ^bloglar/(.*)/$ pages.php?sayfa=blog&page=$1 [L,QSA]
RewriteRule ^bloglar/$ pages.php?sayfa=blog [L,QSA]
RewriteRule ^paketler/$ pages.php?sayfa=pricing [L,QSA]
RewriteRule ^sss/$ pages.php?sayfa=faq [L,QSA]
RewriteRule ^iletisim/$ pages.php?sayfa=contact&status=$1 [L,QSA]
RewriteRule ^sayfa/(.*)/$  pages.php?sayfa=htmlsayfa&id=$1 [L,QSA]
RewriteRule ^(.*)-P(.*)$ pages.php?sayfa=productdetail&seo_url=$1&p_id=$2 [L,QSA]
RewriteRule ^(.*)/$ pages.php?sayfa=catdetail&seo_url=$1 [L,QSA]
RewriteRule ^odemeyi-bildir$ pages.php?sayfa=odemebildirimpost [NC,L]
RewriteRule ^normalOrder$ pages.php?sayfa=normalOrder [NC,L]
RewriteRule ^offerOrder$ pages.php?sayfa=offerOrder [NC,L]
RewriteRule ^contactpost$ pages.php?sayfa=iletisimgonder [NC,L]
RewriteRule ^newsletter$ pages.php?sayfa=newsletter [NC,L]
RewriteRule ^newsletter-register-form$ includes/post/maintenance_newsletter.php [NC,L]
RewriteRule ^blogcommentpost$ pages.php?sayfa=blogcommentpost [NC,L]
RewriteRule ^servicecommentpost$ pages.php?sayfa=servicecommentpost [NC,L]
RewriteRule ^uyelik/yorumlar/(.*)$ pages.php?sayfa=usercomment&page=$1 [L,QSA]
RewriteRule ^uyelik/yorumlar$ pages.php?sayfa=usercomment [NC,L]
RewriteRule ^productaddcomment$ pages.php?sayfa=productaddcomment [NC,L]
RewriteRule ^addtocart$ pages.php?sayfa=addtocart [NC,L]
RewriteRule ^discount$ pages.php?sayfa=discountquery [NC,L]
RewriteRule ^removebasket(.*)$ pages.php?sayfa=removebasket&move=$1 [L,QSA]
RewriteRule ^removebasket$ pages.php?sayfa=removebasket [NC,L]
RewriteRule ^paymentstep$ pages.php?sayfa=odemeyegecfonksiyon [NC,L]
RewriteRule ^404$ pages.php?sayfa=errorpage [NC,L]
RewriteRule ^cart-item-request$ masterpiece.php?sayfa=cart_item_process [L,QSA]
RewriteRule ^teslimat-ulke-data$ masterpiece.php?sayfa=teslimat_ulke_data [L,QSA]
RewriteRule ^teslimat-ulke-data-fatura$ masterpiece.php?sayfa=teslimat_ulke_data_fatura [L,QSA]
RewriteRule ^product-comment-more$ masterpiece.php?sayfa=comment_more_product [L,QSA]
RewriteRule ^blog-comment-more$ masterpiece.php?sayfa=comment_more_blog [L,QSA]
RewriteRule ^hizmet-comment-more$ masterpiece.php?sayfa=comment_more_hizmet [L,QSA]
RewriteRule ^bildirim-ozel-more$ masterpiece.php?sayfa=bildirim_ozel_more [L,QSA]
RewriteRule ^bildirim-herkese-more$ masterpiece.php?sayfa=bildirim_herkese_more [L,QSA]
RewriteRule ^bildirim-uyelere-more$ masterpiece.php?sayfa=bildirim_uyelere_more [L,QSA]
RewriteRule ^assets/css/category_style.css$ includes/template/helper/category_detail/stil.php [NC,L]
RewriteRule ^assets/css/site_style.css$ includes/template/helper/site-main-stil.php [NC,L]
RewriteRule ^assets/css/modules_style.css$ includes/template/helper/home-modules-stil.php [NC,L]
RewriteRule ^remembernewpassword$ pages.php?sayfa=remembernewpassword [NC,L]
RewriteRule ^rememberpassword$ pages.php?sayfa=rememberpassword [NC,L]
RewriteRule ^registerpage$ pages.php?sayfa=registerpage [NC,L]
RewriteRule ^loginpage$ pages.php?sayfa=loginpost [NC,L]
RewriteRule ^productloginpage$ pages.php?sayfa=productloginpage [NC,L]
RewriteRule ^cartloginpage$ pages.php?sayfa=cartloginpage [NC,L]
RewriteRule ^userpasswordchange$ pages.php?sayfa=hesap_sifre_degispost [NC,L]
RewriteRule ^useraccountchange$ pages.php?sayfa=hesap_ayar_degispost [NC,L]
RewriteRule ^destek-talep-gonder$ pages.php?sayfa=hesap_destekgonder_post [NC,L]
RewriteRule ^destek-talep-cevap-gonder$ pages.php?sayfa=hesap_destek_yanitgonder_post [NC,L]
RewriteRule ^user-address-addpost$ pages.php?sayfa=hesap_adresekle_post [NC,L]
RewriteRule ^user-address-editpost$ pages.php?sayfa=hesap_adresduzenle_post [NC,L]
RewriteRule ^return-order-product$ pages.php?sayfa=urun_iade_post [NC,L]
RewriteRule ^teklif-cek-ajax$ masterpiece.php?sayfa=teklif_cek_ajax [L,QSA]
RewriteRule ^normal-siparis-ajax$ masterpiece.php?sayfa=siparis_cek_ajax [L,QSA]
RewriteRule ^cart-test$ masterpiece.php?sayfa=cart_load_ajax [L,QSA]